language: java
os:
  - osx
env:
  - SCALA_VERSION=2.10.5
script:
  - ./sbt ++$SCALA_VERSION --warn update compile test:compile
  - ./sbt ++$SCALA_VERSION test "scripted jar/*"
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then
      ./sbt ++$SCALA_VERSION "scripted universal/* rpm/* debian/*";
    fi
notifications:
  email:
    - qbranch@typesafe.com
addons:
  apt:
    packages:
    - rpm
matrix:
  include:
    - os: linux
      jdk: openjdk7
    - os: linux
      jdk: oraclejdk8
 
sudo: false
cache: 
 apt: true
 directories:
 - $HOME/.sbt
 - $HOME/.ivy2
