language: scala
scala: 2.12.7
os: linux

addons:
  apt:
    packages:
    - rpm
    - fakeroot

sudo: false
cache:
  apt: true
  directories:
  - $HOME/.sbt
  - $HOME/.m2
  - $HOME/.ivy2
  - $HOME/.jabba

env:
  global:
  - TRAVIS_JDK=zulu@1.8
  - JABBA_HOME=$HOME/.jabba
  - COMMIT_AUTHOR_EMAIL: "sbt-native-packager@muki.rocks"
  - RELEASE_BRANCH: master
  - secure: bK5zEd2s3y+ScGwuGcxlP0tXx83nvurmF/SWuQSmI0A2KRelipGSSY2BTa+URKk9smJusJIZUi72EqEwMHDhxLCfHomjze5BmpJB5Mr3fQI700nxPEA95cbM4Z1G9+K6fYWy2pi5S7Xmz1Sg07bP4sfzyVYlNB20aquLCmB9Llk=
  - secure: iY6MLAx39wW8y4uPZxt86FiNkLdrVHaAKCIcp7P35c0Zi1T0aaPTVTwZMS1uJAYs7e3Nh7gv7yU0hZR6t3klYPNjQdS7LHTgITIejBmikkBTkVqfpIYEOyrfDSaT59YlGrBiidegEGnw84kD4dFDmjnUY0ViCwOpJKr0a0Iokls=
  - secure: A2zj75lTCnCDUQ8+f7++eKue9990h//F2GljSj4/2MRs+klvvc/+qr+oakjNKdJMvwq15vCE2Oqmc75+s9FrGr5Fv0ujY16ZknHeZjuZONu1UbFp1EpZvYkPnZ5XbCe/4IOijt6RPBfrWod0gMSoEgGsp406vDG+1K+S+1tKNGQ=

before_install:
  # travis sets the java options which breaks tests that check the applied memory settings
  - unset _JAVA_OPTIONS
  - if [[ "$TRAVIS_OS_NAME" = "osx" ]]; then
      brew update;
      brew install xz;
    fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then
      wget -qO- https://github.com/shyiko/jabba/raw/master/install.sh | bash && . ~/.jabba/jabba.sh;
      $JABBA_HOME/bin/jabba install $TRAVIS_JDK;
      export JAVA_HOME="$JABBA_HOME/jdk/$TRAVIS_JDK" && export PATH="$JAVA_HOME/bin:$PATH" && java -version;
    fi

# job definitions

jobs:
  include:
    - stage: validate
      script: sbt "^validate"
      if: type = pull_request OR (type = push AND branch = master)

    - stage: scripted
      script: sbt "^validateUniversal"
      if: type = pull_request OR (type = push AND branch = master)
      name: "scripted universal tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: |
        $JABBA_HOME/bin/jabba install graalvm@19.0.0
        export JAVA_HOME="$JABBA_HOME/jdk/graalvm@19.0.0" && export PATH="$JAVA_HOME/bin:$PATH" && java -version
        gu install native-image
        sbt "^validateGraalVMNativeImage"
      name: "scripted GraalVM native-image tests"
    - script: sbt "^validateJar"
      name: "scripted jar tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: sbt "^validateBash"
      name: "scripted bash tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: sbt "^validateAsh"
      name: "scripted ash tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: sbt "^validateRpm"
      name: "scripted rpm tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: sbt "^validateDebian"
      name: "scripted debian tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: sbt "^validateDockerUnit"
      name: "scripted docker unit-tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: |
          wget https://cdn.azul.com/zulu/bin/zulu8.38.0.13-ca-fx-jdk8.0.212-linux_x64.tar.gz
          tar -xvf zulu8.38.0.13-ca-fx-jdk8.0.212-linux_x64.tar.gz -C $JAVA_HOME --strip 1
          rm zulu8.38.0.13-ca-fx-jdk8.0.212-linux_x64.tar.gz
          sbt "^validateJdkPackagerTravis"
      name: "scripted jdk-packager tests"
      if: type = pull_request OR (type = push AND branch = master)
      # docker configuration as described in
      # https://docs.travis-ci.com/user/docker/
    - script: |
          $JABBA_HOME/bin/jabba install zulu@1.11
          export JAVA_HOME="$JABBA_HOME/jdk/zulu@1.11" && export PATH="$JAVA_HOME/bin:$PATH" && java -version
          sbt "^validateJlink"
      name: "scripted jlink tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: |
          $JABBA_HOME/bin/jabba install zulu@1.12
          export JAVA_HOME="$JABBA_HOME/jdk/zulu@1.12" && export PATH="$JAVA_HOME/bin:$PATH" && java -version
          sbt "^validateJlink"
      name: "scripted jlink tests"
      if: type = pull_request OR (type = push AND branch = master)
    - script: sbt "^validateDocker"
      name: "scripted docker integration-tests"
      if: type = pull_request OR (type = push AND branch = master)
      services: docker
      sudo: required
    - script: sbt "^validateOSX"
      name: "scripted osx tests"
      if: type = pull_request OR (type = push AND branch = master)
      os: osx
      osx_image: xcode8

    - stage: release
      python: 3.6
      script:
        - openssl aes-256-cbc -K $encrypted_22ffc3d85ef2_key -iv $encrypted_22ffc3d85ef2_iv -in project/secrets.tar.enc -out project/secrets.tar -d
        - ./release-travis.sh
      if: (tag =~ ^v)
