name: Publish Site
on:
  pull_request:
jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # setup build environment
      - uses: coursier/cache-action@v5
      - uses: olafurpg/setup-scala@v12

      # this setup is all for the github pages deployment to work
      - name: install sphinx
        run: |
          pip3 install --user sphinx sphinx_rtd_theme
          which sphinx-build

      - name: setup git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - run: sbt ghpagesPushSite
