name: Validate PR

on:
  pull_request:

jobs:
  validate:
    
    runs-on: ubuntu-latest 
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - name: "Running shasum for cache invalidation"
      run: |
        shasum build.sbt \
          project/plugins.sbt \
          project/build.properties > gha.cache.tmp

    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('gha.cache.tmp') }}
        restore-keys: |
          ${{ runner.os }}-ivy-

    - name: Loading coursier cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/coursier
        key: ${{ runner.os }}-coursier-${{ hashFiles('gha.cache.tmp') }}
        restore-keys: |
          ${{ runner.os }}-coursier-

    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8

    - name: Validate
      run: sbt "^validate"
  
  scripted-universal:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateUniversal"
        
  scripted-jar:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateJar"       

  scripted-bash:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateBash"

  scripted-ash:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateAsh"

  scripted-rpm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateRpm"

  scripted-debian:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateDebian"
        
  scripted-jdk-packager:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateJdkPackagerTravis"

  scripted-docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validateDocker"

  scripted-jlink:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up JDK 1.11.0-2
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.11
    - name: Validate
      run: sbt "^validateJlink"
        

  scripted-graavlvm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Setup GraalVM environment
      uses: olafurpg/setup-scala@v10
      with:
        java-version: graalvm@22.3.3=tgz+https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-22.3.3/graalvm-ce-java11-linux-amd64-22.3.3.tar.gz
    - name: Install native-image
      run: gu install native-image
    - name: Validate
      run: sbt "^validateGraalVMNativeImage"

  scripted-macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt "^validate" "^validateMacOS"
        
  scripted-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
    needs: [ validate ]
    steps:
    - uses: actions/checkout@v2
    - name: Loading ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-ivy-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-ivy-
    - name: Set up Azul JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: zulu@1.8
    - name: Validate
      run: sbt validateWindows
